<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header>
		{{ partial "header.html" . }}
	</header>
	<main>
		<h1>{{ .Params.title }} ({{ .Params.date.Format "2006" }})</h1>
		<h4>-&ensp;{{ .Params.medium }}</h4>
		<div class="gallery">
			{{ range .Resources.ByType "image" }}
			{{ with .Resize "600x" }}
			<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
			{{ end }}
			{{ end }}
		</div>
		<p>{{ .Content }}</p>
		<br><br>
		{{ with $.Params.link }}
		<a href="{{ $.Params.link }}">Link</a>
		{{ end }}
	</main>
	<footer>
		{{ partial "footer.html" . }}
	</footer>
	<!-- Include the script that builds the page and powers Decap CMS -->
	<!-- script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script-->
</body>

</html>
