@font-face {
	font-family: "Roboto Mono";
	src: url("../font/RobotoMono-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("../font/RobotoMono-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("../font/RobotoMono-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("../font/RobotoMono-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Velvelyne";
	src: url("../font/Velvelyne-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Velvelyne";
	src: url("../font/Velvelyne-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "Velvelyne";
	src: url("../font/Velvelyne-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	text-rendering: optimizeLegibility;
}

:root {
	--global-font-color: #444;
	--global-line-height: 1.6em;
}

body {
	color: #222;
	font-family: Velvelyne;
	line-height: 1.5;
	margin: 0;
	max-width: 95vw;
	height: 100vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

header {
	border-bottom: 1px solid #222;
	margin-bottom: 1rem;
	height: 9%;
}

main {
	height: calc(88% - 1rem);
}

div#home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

div#left-arrow,
div#right-arrow {
	font-size: 3em;
	width: 5vw;
}

figcaption {
	display: flex;
	justify-content: center;
}

figcaption h1 {
	padding-bottom: 50px;
}

.slides {
	display: flex;
	max-height: calc(88% - 1rem);
}

.slides a {
	display: none;
	height: 75%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	max-width: 75vw;
	max-height: 80vh;
}

.slides img {
	margin-left: 10vw;
	aspect-ratio: 1 / 1;
	width: 100%;
	margin: auto;
	padding: auto;
	border: 2px solid #00000000;

	left: 12.5vw;
	top: 25vw;
	max-width: 75vw;
	max-height: 80vh;
}


@media (max-width: 400px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

main h1 {
	margin-bottom: 0;
}

main h4 {
	margin-top: 0;
}

footer {
	flex: 0;
	height: 3%;
	border-top: 1px solid #222;
	margin-top: 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer div {
	height: auto;
}

footer span {
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

h2,
h3,
h4,
h5,
h6,
p,
td,
blockquote {
	max-width: 69ch;
}

a {
	color: #00e;
	text-decoration: none;
}

li a {
	vertical-align: middle;
}

nav,
footer {
	display: flex;
	text-align: start;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 a {
	color: #241f31;
}

nav>a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	padding: 16px;
}

/*h1,*/
/*h2,*/
/*h4,*/
/*nav>a {*/
/*	font-family: Velvelyne;*/
/*}*/

h1,
nav>a {
	font-family: Velvelyne;
	font-weight: 700;
}

h4,
p {
	font-family: "Roboto Mono";
}

footer {
	margin-top: auto;
}
