{{ define "main" }}
{{ .Content }}
<a href="portfolio/das-ende-des-kapitalismus/"><img src="/img/das-ende-des-kapitalismus_clipart.png" alt=""></a>
<a href="portfolio/iedereen-is-welkom-op-camping-t-vrije-veld-3/"><img
		src="/img/iedereen-is-welkom-op-camping-t-vrije-veld-3_clipart.png" alt=""></a>
<a href="portfolio/iedereen-is-welkom-op-camping-t-vrije-veld-2"><img
		src="/img/iedereen-is-welkom-op-camping-t-vrije-veld-2_clipart.png" alt=""></a>
<a href="portfolio/iedereen-is-welkom-op-camping-t-vrije-veld-1"><img
		src="/img/iedereen-is-welkom-op-camping-t-vrije-veld-1_clipart.png" alt=""></a>
<a href="portfolio/ontmoet-mijn-buren/"><img src="/img/ontmoet-mijn-buren_clipart.png" alt=""></a>
<a href="portfolio/langs-het-leven-lopen/"><img src="/img/langs-het-leven-lopen_clipart.png" alt=""></a>
<a href="portfolio/nena/"><img src="/img/nena_clipart.png" alt=""></a>
<a href="portfolio/als-niemand-het-ziet/"><img src="/img/als-niemand-het-ziet_clipart.png" alt=""></a>
<a href="portfolio/outside-in/"><img src="/img/outside-in_clipart.png" alt=""></a>
{{ end }}
