<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header>
		{{ partial "header.html" . }}
	</header>
	<main>
		{{ .Content }}
		<ul>
			{{ range (where site.Pages "Section" "portfolio") }}
			{{ range .Pages }}
			<li>
				<h1><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h1>
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</main>
	<footer>
		{{ partial "footer.html" . }}
	</footer>
	<!-- Include the script that builds the page and powers Decap CMS -->
	<!-- script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script-->
</body>

</html>
