<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	{{ partial "head.html" . }}
</head>

<body class="{{ with .File }}{{ .BaseFileName }}{{ end }}">
	<header>
		{{ partial "header.html" . }}
	</header>
    <div class="content">
	<main>
		<div id="kunstenaar">
			<div class="gallery">
				<h1>{{ .Params.title }}</h1>
                {{ range .Parent.Resources.ByType "image" }}
                <img src="{{ .RelPermalink }}">
                {{ end }}
                <h3><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></h3>
			</div>
			<section>
				<p>{{ .Content }}
			</section>
		</div>
		<div id="cv">

            <section>
                <div>
                    <h1>C.V.</h1>
                    <h2>Opleidingen</h2>
                </div>
                {{ range .Page.Params.opleidingen }}
                <div>
                    <p>{{ .studie.afstudeerdata }}</p>
                    <p><em>{{ .studie.opleiding }}</em>, {{ .studie.plek }}</p>
                </div>
                {{ end }}
                <div>
                    <h2 class="hide-on-mobile">———</h2>
                    <h2>Exposities</h2>
                </div>
                {{ range .Page.Params.zichtbaarheid }}
                <div>
                    <p>{{ .tentoonstelling.tentoonstellingsdata }}</p>
                    <p><em>{{ .tentoonstelling.naam }}</em>, {{ .tentoonstelling.tentoonstellingsruimte }}</p>
                </div>
                {{ end }}
                {{ if isset .Page.Params "overig" }}
                <div>
                     <h2 class="hide-on-mobile">———</h2>
                     <h2>Overig</h2>
                </div>
                {{ range .Page.Params.overig }}
                <div>
                    <p>{{ .engagement.data }}</p>
                    <p><em>{{ .engagement.wat }}</em>, {{ .engagement.plek }}</p>
                </div>
                {{ end }}
                {{ end }}
                </div>
            </section>
		</div>
	</main>
    </div>
	<footer>
        <small><a href="mailto:madelonterborg@gmail.com">madelonterborg@gmail.com</a>&ensp;<span class="hide-on-mobile">|</span>&ensp;Copyright {{
			now.Year
			}}.</small>
		<small id="reclame">website door <a href="https://pumvandekoppel.nl">Pum van de koppel</a></small>
	</footer>
	<!-- Include the script that builds the page and powers Decap CMS -->
	<!-- script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script-->
</body>

</html>
