<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	{{ partial "head.html" . }}
</head>

<body class="{{ with .File }}{{ .BaseFileName }}{{ end }}">
	<header>
		{{ partial "header.html" . }}
	</header>
	<main>
		<div id="kunstenaar">
			<div class="gallery">
				<h1>{{ .Params.title }}</h1>
				{{ range .Parent.Resources.ByType "image" }}
				{{ with .Resize "250x" }}
				<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
				{{ end }}
				{{ end }}
				<h3><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></h3>
			</div>
			<section>
				<p>{{ .Content }}
					{{ with $.Params.link }}
					<br><a href="{{ $.Params.link }}">Link</a>
			</section>
			{{ end }}
		</div>
		<div id="cv">

			<h1>C.V.</h1>
			<div>
				<h2>Opleidingen</h2>
				{{ range .Params.opleidingen }}
				<p>{{ .Params.opleidingen.Params.afstudeerdata }} - <em>{{
						.Params.opleidingen.Params.opleiding
						}}</em>, {{ .Params.opleidingen.Params.plek }}</p>
				{{ end }}
			</div>
			<div>
				<h2>Exposities</h2>
				{{ range .Params.tentoonstellingen }}
				<p>{{ .Params.tentoonstellingen.Params.tentoonstellingsdata }} <small>{{
						.Params.tentoonstellingen.Params.soort }}</small> - <em>{{
						.Params.tentoonstellingen.Params.naam }}</em>, {{
					.Params.tentoonstellingen.Params.tentoonstellingsruimte }}</p>
				{{ end }}
			</div>
			<div>
				<h2>Overig</h2>
				{{ range .Params.overig }}
				<p>{{ .Params.overig.Params.data }} - <em>{{ .Params.overig.Params.wat }}</em>, {{
					.Params.overig.Params.plek
					}}</p>
				{{ end }}
			</div>
		</div>
	</main>
	<footer style="display: flex; justify-content: space-between;">
		<small><a href="mailto:madelonterborg@gmail.com">madelonterborg@gmail.com</a>&ensp;|&ensp;Copyright {{
			now.Year
			}}.</small>
		<small>Website <a href="https;//pumvandekoppel.nl">Pum van de koppel</a> | Font <a
				href="https://velvetyne.fr">velvetyne</a></small>
	</footer>
	<!-- Include the script that builds the page and powers Decap CMS -->
	<!-- script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script-->
</body>

</html>
