<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header>
		{{ partial "header.html" . }}
	</header>
	<main>
		<h1>{{ .Params.title }}</h1>
		<div class="gallery">
			{{ range resources.ByType "image" }}
			{{ with .Resize "600x" }}
			<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
			{{ end }}
			{{ end }}
		</div>
		<p>{{ .Content }}</p>
		<p>Website door <a href="https;//pumvandekoppel.nl">Pum van de koppel</a>.<br>Font door Mariel Nils,
			Manon Van der Borght, met hulp van Raphaël Bastide, Benjamin Dumond. Via <a
				href="https://velvetyne.fr">velvetyne.fr</a> </p>
		<br><br>
		{{ with $.Params.link }}
		<a href="{{ $.Params.link }}">Link</a>
		{{ end }}
	</main>
	<footer>
		{{ partial "footer.html" . }}
	</footer>
	<!-- Include the script that builds the page and powers Decap CMS -->
	<!-- script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script-->
</body>

</html>
